.container-pagina-identificacao {
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.acoes-identificacao {
  display: flex;
  align-items: center;
  gap: 5px; /* Define a distância entre os botões */
  margin-bottom: 20px;
}

.botao-criar,
.botao-editar,
.botao-excluir {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.botao-criar {
  background-color: blue;
  color: white;
}

.botao-criar:hover {
  background-color: #0073e6;
}

.botao-editar {
  background-color: green;
  color: white;
}

.botao-editar:hover {
  background-color: #45a049;
}

.botao-excluir {
  background-color: red;
  color: white;
}

.botao-excluir:hover {
  background-color: darkred;
}

.input-pesquisa {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.botao-filtrar {
  width: 37px; 
  height: 36px; 
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}

.busca-wrapper {
  display: flex;
  align-items: center;
}

.input-pesquisa {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.botao-filtrar {
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}

.tabela-identificacao {
  width: 100%;
  border-collapse: collapse;
}

.tabela-identificacao th,
.tabela-identificacao td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabela-identificacao th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tabela-identificacao td {
  font-size: 14px;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px;
}

.botao-download-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.botao-download img {
  width: 23px;
  height: 25px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.botao-download img:hover {
  transform: scale(1.1);
}
