.container-pagina-animal {
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.acoes-animal {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.botao-editar {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.botao-editar:hover {
  background-color: #45a049;
}

.input-pesquisa {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.botao-filtrar {
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}

.tabela-animal {
  width: 100%;
  border-collapse: collapse;
}

.tabela-animal th,
.tabela-animal td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabela-animal th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tabela-animal td {
  font-size: 14px;
}

/* Ajuste para o checkbox maior */
input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px;
}
